deploymentMode: SingleBinary

loki:
  auth_enabled: false
  storage:
    type: filesystem
  useTestSchema: true
  commonConfig:
    replication_factor: 1

#Quitar SimpleScalable targets
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi
  persistence:
    enabled: true
    size: 10Gi

#Quitamos Test porque sino necesita el pod de Canary
test:
  enabled: false

#Quitar Pods Extras que no necesitamos en Lab
lokiCanary:
  enabled: false
chunksCache:
  enabled: false
resultsCache:
  enabled: false
gateway:
  enabled: false



rbac:
  create: true

serviceAccount:
  create: true
  name: loki

