grafana:
  enabled: true
  defaultDashboardsEnabled: false
  
  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  serviceAccount:
    create: true
    name: grafana

  rbac:
    create: true

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

  persistence:
    enabled: false

