apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: monitoring
type: Opaque
stringData:
  admin-user: admin          # CAMBIAR POR OTRO USER
  admin-password: admin123   # CAMBIAR POR TU PASSWORD SEGURA

